@import "tailwindcss";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  min-height: 100vh;
  background-color: black;
  color:white
}
a{
  text-decoration: none;
}
.app{
  width:90%;
  margin:auto
}